[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "quickstart/themes/simple-dark"]
	path = quickstart/themes/simple-dark
	url = https://github.com/MichaelSchaecher/simple-dark.git
[submodule "quickstart/themes/terminal"]
	path = quickstart/themes/terminal
	url = git@github.com:techbarrack/terminal-hugo-theme.git
